/* Style the navigation bar */
nav {
    background-color: #b7d7fc;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    color: black;
}

.current a {
    background-color: white;
    text-decoration: wavy underline;
    color: black;
    font-weight: bold;
}

.skip a{
    background: #b7d7fc;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }

.skip{
    top:-40px;
    position: absolute;
}
.skip a:focus {
    top: 60px;
    position:relative;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 300px;
}

.image-item {
    text-align: center;
}

.image-item img {
    max-width: 100%;
    max-height: 100%;
}

/* PETS STYLING */
.content-wrapper {
    display: flex;
align-items: center;
justify-content: center;
}

.content-wrapper div {
    width: 100px;
    height: 100px;
}

div.pet_1 h1 {
text-align: center;
}
div.pet-8 h3 {
text-decoration: underline;
    }

.pet-1,.pet-2,.pet-3,.pet-4,.pet-5,.pet-6,.pet-7,.pet-8{
    max-width: 320px;
    object-fit: cover;
    overflow: hidden;
}

.pet-4, .pet-5, .pet-6, .pet-7{
    min-height: 100%;
    max-height: 100%;
    text-align: center;
}

.pet-1 img{
    max-width: 250px;
    border: solid 5px black;
    border-radius: 20px;

}

.pet-4 img, .pet-5 img,.pet-6 video, .pet-6 img,.pet-7 img{
    max-width: 90%;
    max-height: 90%;
    min-width: 90%;
    min-height: 90%;
    margin: 10px;
    border-radius: 20px;
    border: solid 5px black;
    object-fit: cover;
}

.pet-1{
    text-align: center;
    grid-area: 1/1/span 1/span all;
}
.pet-2{
    text-align: center;
    grid-area: 2/1/span 1/span all;
}
.pet-3{
    text-decoration: underline;
    grid-area: 3/1/span 1/span all;
}
.pet-4{
    grid-area: 4/1/span 1/span all;
}
.pet-5{
    grid-area: 4/2/span 1/span all;
}
.pet-6{
    grid-area: 5/1/span 1/span all;
}
.pet-7{
    grid-area: 5/2/span 1/span all;
}
.pet-8{
    text-align: center;
    grid-area: 6/1/span 1/span all;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }

/* RECIPES STYLING */

.recipe-1,.recipe-2,.recipe-3,.recipe-4,.recipe-5,.recipe-6,.recipe-7,.recipe-8, .recipe-9,.recipe-10{
    max-width: 300px;
    object-fit: cover;
    overflow: hidden;
}

.recipe_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
.recipe-1{
    grid-area: 1/1/1/span 3;
    text-align: center;
}
.recipe-2{
    grid-area: 2/1/span 1/span all;
    padding: 0 10px;
    margin: 0 auto;
}
.recipe-3{
    grid-area: 3/1/span 1/span all;
    margin: 0 auto;
}
.recipe-4{
    grid-area: 4/1/span 1/span all;
    padding: 0 10px;
}
.recipe-5{
    grid-area: 5/1/span 1/span all;
    text-align: center;
    text-decoration: underline;
}
.recipe-6{
    grid-area: 6/1/span 1/span all;

}
.recipe-7{
    grid-area: 7/1/span 1/span all;
    text-align: center;
    text-decoration: underline;

}
.recipe-8{
    grid-area: 8/1/span 1/span all;

}
.recipe-9{
    grid-area: 9/1/span 1/span all;
    text-align: center;
    text-decoration: underline;
}
.recipe-10{
    grid-area: 10/1/span 1/span all;
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    row-gap: 10px;
    column-gap: 10px;

    justify-items: center;
    justify-content: center;
}
.recipe-3 img{
    object-fit: cover;
    max-height: 200px;
    max-width: 200px;
    justify-content: center;
    justify-items: center;
}
.recipe-10 img{
    object-fit: cover;
    max-width: 250x;
    min-width: 250px;
    max-height: 250px;
    min-height: 250px;
    justify-content: center;
    justify-items: center;
}

#recipes img{
    object-fit: cover;
    max-width: 250px;
    max-height: 250px;
    border-radius: 20px;
    border: solid 5px black;
    margin: 10px;
}
.recipe-6 ul {
    list-style-type: circle;
    font-size: 1em;
    color: black;
    line-height: 1.6;
    text-align: center;
}

.recipe-6 ul li {
    margin-bottom: 10px;
}

.recipe-6 ul li::before {
    content: "• ";
    color: black;
}

.recipe-6 ul li:not(:last-child) {
    margin-bottom: 1em;
}
.recipe-8 ol {
    list-style-type: decimal;
    color: black;
    counter-reset: item;
    list-style-position: outside;
}

.recipe-8 ol li {
    margin-bottom: 10px;
    line-height: 1.6;
    padding-left: 15px;
}

.recipe-8 ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    color: black;
    font-weight: bold;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }

  /* TRAVEL STYLING */
  .image-container {
    border: 2px solid #333;
  }
  a {
    color: black;
    text-decoration: underline;
  }
h1 {
    text-align: center;
    }

  .travel-1,.travel-2,.travel-3,.travel-4,.travel-5,.travel-6,.travel-grid{
    max-width: 320px;
    object-fit: cover;
    overflow: hidden;
}

.travel_container{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    position: relative;
    overflow:hidden;
    justify-items: center;
}

.travel-1{
    grid-area: 1/1/span 1/span 2;
    text-align: center;

}
.travel-2{
    grid-area: 1/1/span 1/ span 1;
    margin: 10px;
    border-radius: 20px;
    border: solid 5px black;
}

.travel-3{
    grid-area: 2/1/span 1/ span 1;
    border-radius: 20px;
    border: solid 5px black;

}
.travel-2,.travel-3{
    max-height: 250px;
}
.travel-2 img,.travel-3 img{
    object-fit: cover;
    max-height: 250px;
    min-height: 300px;
    max-width: 200px;
}

.travel-4{
    grid-area: 3/1/span 1/ span 2;
    text-align: center;
}
.travel-5{
    grid-area: 4/1/span 1/ span 2;
    text-align: center;
}
.travel-6{
    grid-area: 5/1/span 1/ span 2;
    text-decoration: underline;
}
.travel-grid{
    grid-area: 5/1/span 1/ span 2;
    display: grid;
    padding: 40px;
    justify-items:center;
}

.travel-grid video, .travel-grid img{
    object-fit: cover;
    max-height: 250px;
    max-width: 250px;
    border-radius: 20px;
    border: solid 5px black;
}

.travel-grid figcaption{
    max-width: 200px;
    padding: 10px 0 40px 0;
    text-align: center;
}
