/* Style the navigation bar */
nav {
    background-color: #333;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    color: yellow;
}

.current a {
    background-color: gray;
    text-decoration: wavy underline;
    color: white;
    font-weight: bold;
}

#skip-link {
    display: none;
}

.content-wrapper {
    display: flex;
    justify-content: flex-start;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 300px;
}

.image-item {
    text-align: center;
}

.image-item img {
    max-width: 100%;
    max-height: 100%;
}

/* PETS STYLING */

div.pet_1 h1 {
text-align: center;
}
div.pet-8 h3 {
text-decoration: underline;
    }

.pet-1,.pet-2,.pet-3,.pet-4,.pet-5,.pet-6,.pet-7,.pet-8{
    max-width: 320px;
    object-fit: cover;
    overflow: hidden;
}

.pet-4, .pet-5, .pet-6, .pet-7{
    min-height: 100%;
    max-height: 100%;
    text-align: center;
}

.pet-1 img{
    max-width: 250px;
    border: #333;
    border-radius: 10px;

}

.pet-4 img, .pet-5 img,.pet-6 video, .pet-6 img,.pet-7 img{
    max-width: 90%;
    max-height: 90%;
    min-width: 90%;
    min-height: 90%;
    margin: 10px;
    border-radius: 10px;
}

.pet-1{
    text-align: center;
    grid-area: 1/1/span 1/span all;
}
.pet-2{
    text-align: center;
    grid-area: 2/1/span 1/span all;
}
.pet-3{
    text-decoration: underline;
    grid-area: 3/1/span 1/span all;
}
.pet-4{
    grid-area: 4/1/span 1/span all;
}
.pet-5{
    grid-area: 4/2/span 1/span all;
}
.pet-6{
    grid-area: 5/1/span 1/span all;
}
.pet-7{
    grid-area: 5/2/span 1/span all;
}
.pet-8{
    text-align: center;
    grid-area: 6/1/span 1/span all;
}

@media (max-width: 768px) {
    .center-container {
        width: 100%;
    }

    .pet_1 {
        width: 80%;
    }
}
